.body {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App {
  text-align: center;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #2a9cbc;
  color: white;
}

button:hover {
  cursor: pointer;
}
.flex{
  display: flex;
} */
.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F6F6F6;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #333333;
  text-align: center;
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px;
  /* border-radius: 20%; */
  margin-bottom: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  color: #FFFFFF;
  background-color: #0077CC;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #005FA3;
}
